.table-row .ant-table-cell {
  padding: 2px 2px !important; /* Adjust padding for smaller row height */
}

.table-row-faded .ant-table-cell {
  opacity: 0.5; /* Làm mờ hàng */
  padding: 2px 2px !important; /* Adjust padding for smaller row height */
}

.row-add {
  background-color: #e8f5e9;
}

.row-default {
  background-color: #fff;
}

.compact-table .ant-table-cell {
  padding: 4px 8px !important;
}

.compact-table .ant-table-thead .ant-table-cell {
  padding: 4px 8px !important;
}

.compact-table .ant-table-tbody .ant-table-cell {
  padding: 2px 8px !important;
}

.compact-table {
  margin-top: 16px;
  max-width: 95%;
  margin: 16px auto;
}
